[nation_armenian]

name   = _("Armenian")
plural = _("?plural:Armenians")
groups = "Asian"
legend = _("Armenians colonised the Kingdom of Urartu\
 in about 600 BC, forming a state in 190 BC.\
 Ancient Armenia lasted until conquered by the Romans in 66 BC.")

leaders = {
 "name", "sex"
 "Tigranes the Great", "Male"
 "Artavazde", "Male"
 "Artaxias", "Male"
 "Mitridates", "Male"
 "Trdat III", "Male"
}

flag = "armenia"
flag_alt = "-"
style    = "Classical"

init_techs = ""
init_buildings = ""
init_units = ""
civilwar_nations = "assyrian"

cities =
  "Artaxata",
  "Satala",
  "Tigranocerta",
  "Arsamosata",
  "Elegeia",
  "Carana",
  "Gorneae",
  ; Armen Carapetian's list:
  "Dvin", ; Capital, 550AD
  "Tushpa",
  "Erebuni",
  "Argishti-Khinili",
  "Urmia",
  "Kharput",
  "Satala",
  "Ardahan",
  "Kars",
  "Ani",
  "Artashat",
  "Nakhichevan",
  "Erzurum",
  "Diyarbakir",
  ; In modern Nagorno-Karabakh:
  "Artsakh"
