[nation_iberian]

name=_("Iberian")
plural=_("?plural:Iberians")
groups=_("European"), _("Atlantic"), _("Mediterranean")
legend=_("The inhabitants of the Iberian Peninsula\
 before its conquest by the Romans.")

leaders = {
 "name", "sex"
 "Viriato", "Male"
 "Endovellico", "Male" ; Iberian supreme god
 "Neton", "Male" ; Iberian war god
}

flag="iberian"
flag_alt = "spain"
style    = "Celtic"

init_techs=""
init_buildings=""
init_units=""
civilwar_nations =
 "roman", ; conquered by
 "gothic" ; the Visigoths

cities =
 "Numancia",
 "Tartessos",
 "Lutia",
 "Cauca",
 "Ligustina",
 "Uxama",
 "Astorga",
 "Clunica",
 "Setiasicon",
 "Veleya",
 "Turiasu",
 "Segeda",
 "Septimanca",
 "Segantia",
 "Salmantica",
 "Norba",
 "Mastia",
 "Arbocala",
 "Iliturgi",
 "Astapa",
 "Evora",
 "Eso",
 "Caiscada",
 "Bolscan",
 "Iltirta",
 "Eusti",
 "Urso",
 "Acinipo",
 "Munda",
 "Ilduro",
 "Cesse",
 "Colouniocu",
 "Baitolo",
 "Bilbilis",
 "Ercavica",
 "Arecoradas",
 "Segobirices",
 "Arse",
 "Obulco",
 "Saiti",
 "Cástulo",
 "Ilbubeibe",
 "Ebussus"


