[nation_babylonian]

name=_("Babylonian")
plural=_("?plural:Babylonians")
groups="Asian", "Mesopotamian"
legend=_("Babylon was the dominant city of Mesopotamia from the 18th to\
 7th centuries BC under a succession of peoples including Amorites,\
 Kassites, Assyrians, and Chaldeans.")

leaders = {
 "name", "sex"
 "Hammurabi", "Male"
 "Sargon II", "Male"
 "Nebuchadnezzar II", "Male"
 "Tiglath-Pileser III", "Male"
 "Burnaburiash II", "Male"
 "Nabonassar", "Male"
}

flag = "babylon"
flag_alt = "iraq_old"
city_style = "Babylonian"

ruler_titles = { "government",        "male_title", "female_title"
		 "Despotism",         _("Lugal %s"),   _("Lugal %s")
                 "Petty Monarchy",    _("Lugal %s"),   _("Lugal %s")
                 "Imperial Monarchy", _("Lugal %s"),   _("Lugal %s")
               }

init_techs=""
init_buildings=""
init_units=""
civilwar_nations = "sumerian", "hebrew", "persian", "aramean"

cities =
  "Babylon", "Lagash", "Nippur", "Ur", "Kish",
  "Shuruppak", "Kisurra", "Cutha", "Adab", "Umma",
  "Akkad", "Eridu", "Larsa", "Borsippa", "Sippar",
  "Nineveh", "Ashur", "Calach", "Carcar", "Hamat",
  "Opis", "Cunaxa", "Arbela", "Nisibis", "Carrhae",
  "Seleucia", "Ctesiphon", "Sittace", "Orchoe", "Apamea"
