
; Modifying this file:
; You should not modify this file except to make bugfixes or
; for other "maintenance".  If you want to make custom changes
; you should create a new datadir subdirectory and copy this file
; into that directory, and then modify that copy.  Then use the
; command "rulesetdir <mysubdir>" in the server to have freeciv
; use your new customized file.

[datafile]
description="Nation theme data for Freeciv"
options="+Freeciv-ruleset-Devel-2013.May.14"

; /* <-- avoid gettext warnings
;
; Nation styles
;
; name          = translatable name as seen by user
; rule_name     = (optional) name for rulesets; if not
;                 present, 'name' is used.
;
; */ <-- avoid gettext warnings

[style_european]
name = _("?style:European")

[style_classical]
name = _("?style:Classical")

;[style_mesopotamian]
;name = _("?style:Mesopotamian")

[style_arabian]
name = _("?style:Arabian")

;[style_tropical]
;name = _("?style:Tropical")

[style_precolumbian]
name = _("?style:Precolumbian")

[style_african]
name = _("?style:African")

[style_asian]
name = _("?style:Asian")

[style_babylonian]
name = _("?style:Babylonian")

;[style_barbarian]
;name = _("?style:Barbarian")

[style_celtic]
name = _("?style:Celtic")

; /* <-- avoid gettext warnings
;
; City styles define the way cities are drawn
;
; graphic          = group of tiles to use, see cities spec for
;                    more info on city tiles
; citizens_graphic = group of citizens tiles to use, see citizens/small
;                    spec for more info on citizens tiles
; reqs             = requirements for this city style (see README.effects)
;
; */ <-- avoid gettext warnings

[citystyle_european]
name        = _("?citystyle:European")
graphic     = "city.european"
graphic_alt = "-"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "European", "Player"
       }

[citystyle_classical]
name        = _("?citystyle:Classical")
graphic     = "city.classical"
graphic_alt = "-"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "Classical", "Player"
       }

;[citystyle_mesopotamian]
;name        = _("?citystyle:Mesopotamian")
;graphic     = "city.mesopotamian"
;graphic_alt = "city.classical"
;citizens_graphic     = "ancient"
;citizens_graphic_alt = "generic"
;reqs = { "type", "name", "range"
;         "Style", "Mesopotamian", "Player"
;       }

[citystyle_arabian]
name        = _("?citystyle:Arabian")
graphic     = "city.arabian"
graphic_alt = "city.classical"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "Arabian", "Player"
       }

;[citystyle_tropical]
;name        = _("?citystyle:Tropical")
;graphic     = "city.tropical"
;graphic_alt = "city.european"
;citizens_graphic     = "ancient"
;citizens_graphic_alt = "generic"
;reqs = { "type", "name", "range"
;         "Style", "Tropical", "Player"
;       }

[citystyle_precolumbian]
name        = _("?citystyle:Precolumbian")
graphic     = "city.precolumbian"
graphic_alt = "city.tropical"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "Precolumbian", "Player"
       }

[citystyle_african]
name        = _("?citystyle:African")
graphic     = "city.african"
graphic_alt = "city.tropical"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "African", "Player"
       }

[citystyle_asian]
name        = _("?citystyle:Asian")
graphic     = "city.asian"
graphic_alt = "city.classical"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "Asian", "Player"
       }

[citystyle_babylonian]
name        = _("?citystyle:Babylonian")
graphic     = "city.babylonian"
graphic_alt = "city.classical"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "Babylonian", "Player"
       }

;[citystyle_barbarian]
;name        = _("?citystyle:Barbarian")
;graphic     = "city.barbarian"
;graphic_alt = "city.european"
;citizens_graphic     = "ancient"
;citizens_graphic_alt = "generic"
;reqs = { "type", "name", "range"
;         "Style", "Barbarian", "Player"
;       }

[citystyle_celtic]
name        = _("?citystyle:Celtic")
graphic     = "city.celtic"
graphic_alt = "city.european"
citizens_graphic     = "ancient"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "Style", "Celtic", "Player"
       }

[citystyle_renaissance]
name        = _("?citystyle:Renaissance")
graphic     = "city.industrial"
graphic_alt = "-"
citizens_graphic     = "renaissance"
citizens_graphic_alt = "generic"
reqs = { "type", "name", "range"
         "tech", "University", "Player"
       }

; /* <-- avoid gettext warnings
;
; Music styles
;
; Order is important. The last one for which activation requirements
; are fulfilled is the one that plays.
;
; music_peaceful = Music to play when nation in peaceful mood
; music_combat   = Music to play when nation in combat mood
; reqs		 = requirements to activate the style (see effects.ruleset
;		   and README.effects for help on requirements)
;
; */ <-- avoid gettext warnings

[musicstyle_european]
music_peaceful     = "music_european_peace"
music_combat       = "music_european_combat"
reqs	=
    { "type", "name", "range"
      "Style", "European", "Player"
    }

[musicstyle_classical]
music_peaceful     = "music_classical_peace"
music_combat       = "music_classical_combat"
reqs	=
    { "type", "name", "range"
      "Style", "Classical", "Player"
    }

[musicstyle_arabian]
music_peaceful     = "music_arabian_peace"
music_combat       = "music_arabian_combat"
reqs	=
    { "type", "name", "range"
      "Style", "Arabian", "Player"
    }

[musicstyle_precolumbian]
music_peaceful     = "music_precolumbian_peace"
music_combat       = "music_precolumbian_combat"
reqs	=
    { "type", "name", "range"
      "Style", "Precolumbian", "Player"
    }

[musicstyle_african]
music_peaceful     = "music_african_peace"
music_combat       = "music_african_combat"
reqs	=
    { "type", "name", "range"
      "Style", "African", "Player"
    }

[musicstyle_asian]
music_peaceful     = "music_asian_peace"
music_combat       = "music_asian_combat"
reqs	=
    { "type", "name", "range"
      "Style", "Asian", "Player"
    }

[musicstyle_babylonian]
music_peaceful     = "music_babylonian_peace"
music_combat       = "music_babylonian_combat"
reqs	=
    { "type", "name", "range"
      "Style", "Babylonian", "Player"
    }

[musicstyle_celtic]
music_peaceful     = "music_celtic_peace"
music_combat       = "music_celtic_combat"
reqs	=
    { "type", "name", "range"
      "Style", "Celtic", "Player"
    }

[musicstyle_renaissance]
music_peaceful     = "music_renaissance_peace"
music_combat       = "music_renaissance_combat"
reqs	=
    { "type", "name", "range"
      "Tech", "University", "Player"
    }
