[nation_assyrian]

name=_("Assyrian")
plural=_("?plural:Assyrians")
groups="Asian", "Mesopotamian"
legend=_("Assyria was an empire in northern Mesopotamia, named after its\
 capital Ashur.")

leaders = {
 "name", "sex"
 "Ashurbanipal", "Male"
 "Tiglat Pileser III", "Male"
 "Ashurnasirpal II", "Male"
 "Shamiram", "Female"
 "Agha Petros", "Male"
 "Naoum Faik", "Male"
}

flag = "assyria"
flag_alt = "-"
style    = "Babylonian"

ruler_titles = { "government",	"male_title",	"female_title"
		 "Imperial Monarchy",	_("Malka %s"),	_("Malikta %s")
	       }

init_techs=""
init_buildings=""
init_units=""
civilwar_nations="babylonian", "hebrew", "aramean"

cities =
  "Ashur", "Nineveh", "Kalhu", "Arbela", "Edessa", "Osrhoene",
  "Nisibin", "Alqosh", "Urmia", "Kirkuk", "Akkad", "Mosul", "Dohuk",
  "Aqra", "Zibar", "Supna", "Zakho", "Hakkari", "Bohtan", "Ayn-Slibo",
  "Omed", "Tur-Abdin", "Merdo", "Tella-Shleela", "Kharput", "Perin",
  "Urhoy", "Ayn-Towo", "Salamas", "Khabour", "Malatya"
