[nation_byzantine]

name=_("Byzantine")
plural=_("?plural:Byzantines")
groups="Medieval", "European", "Mediterranean"
legend=_("At the time of the decline of the old Roman empire, the Emperor\
 Constanine moved the empire's capital to Byzantium and formed a new empire\
 mostly known as the Eastern Roman empire or the Byzantine empire. This\
 empire lasted until 1453 when its capital fell to the Ottomans. At the time\
 of Justinian I, the Byzanines controlled nearly all of Middle East, nothern\
 Africa, Italy and parts of Spain.")

leaders = {
 "name", "sex"
 "Justinianus I", "Male"
 "Heraclius", "Male"
 "Michael VIII Palaeologus", "Male"
 "Mauricius I", "Male"
 "Basilios II Bulgaroktonos", "Male"
 "Theodora", "Female"
}

flag="byzantium"
flag_alt = "greek"
style    = "Classical"

ruler_titles = { "government",        "male_title",   "female_title"
                 "Despotism",         _("Imperator %s"), _("Imperatrix %s")
                 "Imperial Monarchy", _("Basileus %s"),  _("Basileus %s")
               }

init_techs=""
init_buildings=""
init_units=""

; Byzantium was the cultural successor-empire of Hellenic culture
conflicts_with = "hellene"
civilwar_nations = "arab"

cities =
 "Constantinople (ocean)",
 "Ephesus",
 "Iconium",
 "Roma",
 "Trapezus",
 "Dyrrachium (ocean)",
 "Antioch",
 "Nicaea",
 "Thessalonica (ocean)",
 "Rhodes (ocean)",
 "Tarsus",
 "Caesaria",
 "Trier",
 "Monemvasia",
 "Heraclia",
 "Samosata",
 "Philadelphia",
 "Syracusae",
 "Neapolis",
 "Carthage",
 "Jerusalem",
 "Edessa",
 "Adrianople",
 "Cyrenae",
 "Ancyra",
 "Nicomedia",
 "Mistra",
 "Ravenna",
 "Germaniceia",
 "Sevastoupolis",
 "Prusa",
 "Athinae",
 "Ioannina",
 "Pella",
 "Doryleo",
 "Nicosia",
 "Smyrne (ocean)",
 "Alexandria (ocean)",
 "Berytus",
 "Palmyra"
