[nation_gallic]

name   = _("Gallic")
plural = _("?plural:Gauls")
groups = _("European"), _("Atlantic"), _("Mediterranean")
legend = _("The Gauls were a Celtic people occupying what is now France and\
 Belgium.")

leaders = {
 "name", "sex"
 "Ariovistus", "Male"
 "Vercingetorix", "Male"
 "Syagrius", "Male"
 "Ambiorix", "Male"
 "Dumnorix", "Male"
 "Julia Pacata", "Female"
 "Leonnorius", "Male"
}

flag     = "gaul"
flag_alt = "france"
style    = "Celtic"

ruler_titles = { "government",      "male_title",      "female_title"
                 "Despotism",         _("Chieftain %s"),       _("Chieftain %s")
                 "Petty Monarchy",    _("Teutorix %s"),        _("Teutorix %s")
                 "Imperial Monarchy", _("Teutorix %s"),        _("Teutorix %s")
	       }

init_techs = ""
init_buildings = ""
init_units = ""
civilwar_nations = "british", "frankish"

; City names from various articles on Wikipedia:
; http://en.wikipedia.org/wiki/Category:Ancient_Gauls
; http://fr.wikipedia.org/wiki/Liste_des_peuples_gaulois_en_France

; Mixed Latin and Gallic names.

cities =
 "Bibracte",
 "Durocortum",
 "Avaricum",
 "Uxellodunum",
 "Vesona",
 "Bagacum",
 "Cabillonum",
 "Cenabum",
 "Autricum",
 "Vindinum",
 "Aragenuae",
 "Gergovia",
 "Aginnon",
 "Nemetocenna",
 "Valentia",
 "Nemausus",
 "Noviodunum",
 "Castellum",
 "Limonium",
 "Treverorum",
 "Narbo",
 "Vienne",
 "Agedincum",
 "Metiosedum",
 "Vellaunodunum",
 "Bratuspantium",
 "Bibrax",
 "Nyrax",
 "Vesontio",
 "Massalia",
 "Arausio",
 "Alesia",
 "Arelate",
 "Genava",
 "Agirinum",
 "Rotomagus"
