[nation_phoenician]

name=_("Phoenician")
plural=_("?plural:Phoenicians")
groups=_("Asian"), _("Mediterranean")
legend=_("Phoenicia was an ancient civilization, based in what is now the\
 coastal regions of Lebanon and Syria.")

leaders = {
 "name", "sex"
 "Hiram", "Male"
 "Agenor", "Male"
 "Eshmunazar", "Male"
 "Kadmos", "Male"
 "Ithobaal", "Male"
 "Abd'ashtart", "Male"
}

flag="phoenicia"
flag_alt = "-"
style    = "Classical"

init_techs=""
init_buildings=""
init_units=""
civilwar_nations="palmyrene", "hittite", "carthaginian", "hebrew"

cities =
 "Sur", 	; English: "Tyre"
 "Sidon",
 "Birot",	; Greek: "Berytos"; Modern "Beirut"
 "Gebal",	; Greek: "Byblos"
 "Arados",
 "Batrun",
 "Tripoli",
 "Ugarit",
 "Baalbeck",
 "Arvad",
 "Joppa",
 "Kition",
 "Leptis",	; Same as "Leptis Magna"?
 "Oia",		; alt.spelling "Oea"
 "Sebrata",
 "Massalia",
 "Carthago",	; Phoenician: "Kart-Hadasht"
 "Gadir",
 "Ebusos",
 "Hadrumetum",
 "Tipasa",
 "Siga",
 "Lixus",
 "Mogador",
 "Nora",
 "Sulcis",
 "Tharros",
 "Malaca",
 "Sexi",
 "Utica",
 "Karalis",
 "Zili",
 "Tingis",
 "Onoba",
 "Icosium",
 "Hippo",
 "Acholla",
 "Kossyra",
 "Abdera",
 "Solus",
 "Motye",
 "Gaulos",
 "Melita",	; Latin Melite, modern Malta (Medina-Rabat)
 "Sulci",
 "Karteia",
 "Panormos",
 "Hippo Diarrhytos"
